<!DOCTYPE html>
<html ng-app = 'myApp'>
<head>
    <title>Logged In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script src='/jquery.js' ></script>
    <script src='/js/bootstrap.js' ></script>
    <script src='/angular.js'></script>
    <script src='/angular-route.js'></script>
    <script src='/javascripts/Authenticate.js' ></script>
    <script src='/javascripts/angularModule.js'></script>
    <script>
        var myApp = angular.module('myApp', ['ngRoute', 'myApp.menu']);
        myApp.config(function ($routeProvider) {
            $routeProvider.when('/profile', {
                templateUrl: '/partials/_profile.html'//,
                //controller: 'MenuController'
            }).when('/edit',{
                templateUrl: '/partials/_edit.html'//,
                //controller: 'MenuController'
            }).otherwise({
                redirectTo: '/'
            });
        });
    </script>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: <%= key %>
//        onLoad:    onLinkedInLoad
        authorize: true
    </script>

</head>
<body ng-controller="MenuController">

<div class = "container row">
    <div class = "col-md-6">
        <img class = "thumbnails" src="<%= profile %>" />
        <h3>Welcome to OAuth, <%= user %></h3>
    </div>
    <div class=" col-md-4 navbar-right">
        <ul class = "nav nav-tabs">
            <li class="active">
                <a id="mainNav" href="#" ng-click = "getMain()">Home</a>
            </li>
            <li>
                <a id="profileNav" href='#profile' ng-click= "getProfile()" >Profile</a>
            </li>
            <li>
                <a id="editNav" href="#edit" ng-click = "editProfile()">Edit</a>
            </li>
            <li>
                <a ng-click = "loggingOut()" >Logout</a> <!--href="/auth/logout" -->
            </li>
        </ul>
    </div>
</div>
<hr class = 'navhr'>

<div ng-view></div>
</body>
</html>
