<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='css/bootstrap.css' />
    <script src='jquery.js' ></script>
    <script src='js/bootstrap.js' ></script>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: <%= key %>
        onLoad:    onLinkedInLoad
        authorize: true
    </script>
    <script>
        function onLinkedInLoad() {
            IN.Event.on(IN, "auth", getProfileData);
        }

        // Handle the successful return from the API call
        function onSuccess(data) {
            console.log(data);
        }

        // Handle an error response from the API call
        function onError(error) {
            console.log(error);
        }

        // Use the API call wrapper to request the member's basic profile data
        function getProfileData() {
            IN.API.Raw("/people/~").result(onSuccess).error(onError);
        }
    </script>
    <script src='/javascripts/Authenticate.js' ></script>
</head>
<body>
    <h1>Welcome to <%=title%></h1>
    <a href="/auth/linkedin" class="btn btn-primary">Login With LinkedIn</a>
    <button class="btn btn-primary">Another Login Button</button>


</body>
</html>
