<div id = 'editForm'>
    <form class = 'form-group' id = "leForm" name = 'leForm' ng-submit = postProfile()>
        <p>Firm: <input type="text" ng-model = 'profile.firm' required></p>
        <p>Industries: <input type="text" ng-model = 'profile.industries'required></p>
        <p>External Links: <input type="text" ng-model = 'profile.links' required></p>
        <p style = "vertical-align: top;">Description:
            <textarea style="resize: none; width: 50%;" ng-model = 'profile.description' required></textarea></p>
        <input type="submit" id="submit" class = "btn btn-primary" value="Submit" />
    </form>

</div>

<!-- <div id = 'editProfile' class = 'modal fade'>
    <div class = 'modal-dialog'>
        <div class = 'modal-content'>
            <div class = 'modal-header'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Profile</h4>
            </div>
            <div class = 'modal-body notForAnts'>
                <form id = "leForm" name = 'leForm' ng-submit = postProfile()>
                    <p>Firm: <input type="text" ng-model = 'profile.firm' required></p>
                    <p>Industries: <input type="text" ng-model = 'profile.industries'required></p>
                    <p>External Links: <input type="text" ng-model = 'profile.links' required></p>
                    <p style = "vertical-align: top;">Description:
                        <textarea style="resize: none; width: 50%;" ng-model = 'profile.description' required></textarea></p>
                    <input type="submit" id="submit" class = "btn btn-primary" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div> -->